{% extends './navbar.html' %}100px
{% load static %}

{% block title %}Tsabinz Official{% endblock %}

{% block content %}
<div class="bg-image">
        
    
        <video autoplay muted loop playsinline preload="auto" poster="{% static 'black.png' %}">
            <source src="{% static 'tsabinztake2.mp4' %}" type="video/mp4" alt="Tsabinz TGIF Fashion Week">
            Your browser does not support the video tag.
        </video>
            
    
    <div class="text-overlay">
        
        <h1>Tsabinz Official</h1>
        <p>Redefining Street Fashion </p>
        <a href="{% url 'store:category_products' 'all' %}?sort=newest">
            <button class="button">Shop our latest collections</button>
        </a>

        
        
    </div>
    
    

    
   
</div>
<section class="heading-section">
    <h3>Shop By Gender</h3>
    <h2>Discover products that match your style and personality</h2>

  </section>

 <section class="split-section">
    <div class="split">
      <img src="{% static "ts1.jpg"%}" loading="lazy" alt="Tsabinz Women Clothing">
      <div class="overlay">
        <h2>For Her</h2>
        <p>Discover our latest collection for women. Elegant, stylish, and perfect for every occasion.</p>
          <a href="{% url 'store:category_products' 'women' %}">
              <button class="button">Shop Now</button>
          </a>
      </div>
    </div>
    <div class="split">
      <img src="{% static "ts2.jpg"%}" loading="lazy" alt="Tsabinz Men Clothing">
      <div class="overlay">
        <h2>For Him</h2>
        <p>Explore our latest collection for men. Stylish, modern, and perfect for any occasion.</p>
        <a href="{% url 'store:category_products' 'men' %}">
              <button class="button">Shop Now</button>
          </a>
      
      </div>
    </div>
  </section>
  {% comment %} <section class="heading-section">
    <h1>Shop By Categoryer</h1>
    <h2>We design creative and modern web experiences</h2>
  </section> {% endcomment %}
  
  <div class="swim-video">
    
        <img src="{% static 'swim2.jpg' %}" loading="lazy" alt="Tsabinz SwimWear">
        
    
    <div class="hero-text">
        
        <h2>SwimWear Collection</h2>
        <p>Make your Summer Unforgettable</p>
        <a href="{% url 'store:subcategory_products' 'women' 'swimwear' %}">
            <button class="button">Shop our latest collection</button>
        </a>

        
        
    </div>
    
    

    
   
</div>






<section class="heading-section">
    <h3>Shop By Categoryer</h3>
    <h2>Explore our handpicked collections tailored just for you</h2>


  </section>



 <section class="four-grid-section">
    <div class="four-grid-item">
      <img src="{% static "top.jpg"%}"  loading="lazy" alt="Tsabinz Tops">
      <div class="four-overlay">
        <h2>Tops</h2>
        <p>perfect for any occasion, crafted for comfort and modern fashion.</p>
        <div class="four-overlayb">
          <a href="{% url 'store:subcategory_products' 'women' 'top' %}">
            <button class="button">Shop Now</button>
        </a>

          
      </div>
      </div>
    </div>
    <div class="four-grid-item">
      <img src="{% static "body.jpg"%}" loading="lazy" alt="Tsabinz Dresses">
      <div class="four-overlay">
        <h2>Dress</h2>
        <p>Sleek and flattering dresses that hug your curves</p>
        <div class="four-overlayb">
          <a href="{% url 'store:subcategory_products' 'women' 'dress' %}">
            <button class="button">Shop Now</button>
        </a>
      </div>
      </div>
    </div>
    <div class="four-grid-item">
      <img src="{% static "jack.jpg"%}" loading="lazy" alt="Tsabinz Jackets">
      <div class="four-overlay">
        <h2>Jackets</h2>
        <p>Chic and cozy jackets that keep you warm </p>
        <div class="four-overlayb">
          <a href="{% url 'store:subcategory_products' 'men' 'jacket' %}">
            <button class="button">Shop Now</button>
        </a>
      </div>
      </div>
    </div>
    <div class="four-grid-item">
      <img src="{% static "swim.jpg"%}" loading="lazy" alt="Tsabinz SwimWear">
      <div class="four-overlay">
        <h2>Swim Wear</h2>
        <p>Make your Summer Unforgettable</p>
        <div class="four-overlayb">
          <a href="{% url 'store:subcategory_products' 'women' 'swimwear' %}">
            <button class="button">Shop Now</button>
        </a>
      </div>
      </div>
    </div>
  </section>
<section class="heading-section">
    <h3>Our Collection</h3>
    <h2>Timeless designs that speak simplicity and sophistication</h2>

  </section>


<section class="hero-section">
    <img src="{% static "resort.JPG"%}"  loading="lazy" alt="Tsabinz Resort Collection">
    <div class="hero-text">
      <h2>Resort Collection</h2>
      <p>Relaxed, chic, and effortlessly for vacation, beach days, and sun-soaked getaways</p>
      <a href="{% url 'store:product_list' %}?product_type=resort" class="hero-btn">Shop now</a>
    </div>
  </section>
  <section class="bg-image">
    <video autoplay muted loop playsinline>
      <source src="{% static 'winter.mp4' %}" type="video/mp4" preload="none" alt="Tsabinz Winter Collection">
      Your browser does not support the video tag.
    </video>
    <div class="hero-text">
      <h2>Our Winter Collection</h2>
      <p>Winter is here Chic and cozy jackets that keep you warm</p>
      <a href="{% url 'store:product_list' %}?product_type=winter" class="hero-btn">Shop now</a>
    </div>
  </section>


    <section class="category-row">
    <div class="category">
      <span class="category-title">New Arrivals</span>
      <div class="category-subtitles">
        <a href="{% url 'store:category_products' 'women' %}?sort=newest" class="category-btn">Women</a>
<a href="{% url 'store:category_products' 'men' %}?sort=newest" class="category-btn">Men</a>
      </div>
    </div>

    <div class="category">
      <span class="category-title">Best Sellers</span>
      <div class="category-subtitles">
        <a href="{% url 'store:category_products' 'women' %}?sort=best_selling" class="category-btn">Women</a>
    <a href="{% url 'store:category_products' 'men' %}?sort=best_selling" class="category-btn">Men</a>
      </div>
    </div>

    <div class="category">
      <span class="category-title">Shirts</span>
      <div class="category-subtitles">
        <a href="{% url 'store:category_products' 'women' %}" class="category-btn">Women</a>
    <a href="{% url 'store:category_products' 'men' %}" class="category-btn">Men</a>
      </div>
    </div>

    <div class="category">
      <span class="category-title">Tops</span>
      <div class="category-subtitles">
        <a href="{% url 'store:category_products' 'women'  %}" class="category-btn">Women</a>
        <a href="{% url 'store:category_products' 'men'  %}" class="category-btn">Men</a>
      </div>
    </div>
  </section>



    <!-- Section 3: Image Left -->
    



{% endblock %}
